@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif');

body {
	text-align: center;
	font-family: 'Droid Sans', serif;
}

#logo {
	width: 150px;
    }
#kayla {
	background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    }

#forbes100 {
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}
#two_column {
	background-color: #000000;
}
#left {
	background-color: skyblue;
	float: left;
	width: 40%;
}
#right {
	background-color: green;
	float: right;
	width: 40%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
a {
	background-color: #000000;
	color: white;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
}
a:hover {
	background-color: #aaaaaa;
}
h1 {
	text-align: left;
	color: white;
	font-weight: bold;
	font-family: 'Droid Serif', serif;
}
p {
	text-align: left;
    color: white;
	font-size: 16px;
}
nav {
	background-color: #000000;
	font-family: 'Droid Serif', serif;
}

header {
	background: #ffffff;
	padding: 0;
    margin: 0;
    border: 0;
}
section {
	background-color: #000000;
}
aside {
	background-color: blue;
	padding: 20px;
}
article {
	background-color: red;
	padding: 20px;
}
footer {
	background-color: #000000;
	padding: 20px;
}