@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif');

body {
  text-align: center;
  background: url("http://www.wallpapermaven.com/cat/abstract/download/Layered-Gray-Squares-2048x1536-39.jpg");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;

}
h1 {
	color: black;
	font-weight: bold;
	font-family: 'Droid Serif', serif;
}

p {
	color: black;
	font-size: 16px;

}