@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif');



body {
 text-align: center;
 background-image: url('images/graywallpaper.jpg');
 background-attachment: none;
 background-repeat: no-repeat;
 font-family: 'Droid Sans', serif;
 color: #000;

}
a {
    text-decoration: none;
}
h1 {
  color: black;
  font-weight: bold;
  font-family: 'Droid Serif', serif;
}


p {
  color: black;
  font-size: 16px;

}