@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif');

body {
	background-color: white;
	text-align: center;
	text-decoration: none;
	font-family: 'Droid Sans', Gotham, sans-serif;

}
h1 {
	font-color: black;
	font-weight: bold;
	font-family: 'Droid Serif', Arial, serif;
}
h2 {
	color: skyblue;
	font-family: 'Droid Serif', Gotham, serif;

}

p {
	font-color: black;
	font-size: 16px;

}