@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif');

body {
	text-align: center;
	font-family: 'Droid Sans', serif;
}
.wrapper {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
#forbes100 {
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
h1 {
	color: black;
	font-weight: bold;
	font-family: 'Droid Serif', serif;
}
p {
	color: black;
	font-size: 16px;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}