@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif');

body {
	text-align: center;
	background: url("../images/Perry-filter.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	font-family: 'Droid Sans', serif;
	font-color: black;
	font-size: 20px;

}

img {
	width: 182px;
	height: 28px;
	top: 20px;
	left: 20px;
	bottom: -41px;
	right: 356px;
}
a {
    text-decoration: none;
}

h1 {
  color: black;
  font-weight: bold;
  font-family: 'Droid Serif', serif;
}

p {

}